.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* .btn-container {
    text-align: center;
} */
.btn{
padding: 12px 13px 12px 13px;
border-radius: 4px;
background: rgb(13, 19, 33);
position: static;
width: 129px;
height: 38px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 18px 0px;
}

/* btn text design */
.btn-text{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 11px;
font-weight: 600;
line-height: 13px;
letter-spacing: 0%;
text-align: center;


}
.hero{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    /* Hero-bg */
    position: absolute;
    /* width: 2442px; */
    height: 652px;
    left: 0;
    right: 0;
    top: 145px;
    bottom: 4462px;
}

.hero .hero-content{
    width: 578px;
    margin: 0 auto;
}

.hero .hero-content .title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 27px;
font-weight: 800;
line-height: 39px;
letter-spacing: 0%;
text-align: center;

}

.hero .hero-content .description{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 9px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
}

/* image design */
.hero .hero-content .group{
position: absolute;
width: 120.28px;
height: 120px;
left: 257.67%;
right: -257.67%;
top: 0%;
bottom: 0%;
transform: rotate(180.00deg);
}
.group{
position: absolute;
width: 240.28px;
height: 240px;
left: 257.67%;
right: -257.67%;
top: 0%;
bottom: 0%;
transform: rotate(180.00deg);
}
.frame{
position: absolute;
width: 1500px;
height: 350px;
left: 221px;
right: 221px;
top: 157px;
bottom: 4506px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;



}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 100px;
    margin-bottom: 24px;
}
.Frame-3{
position: static;
width: 1500px;
height: 350px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

.Frame1{
position: static;
width: 946px;
height: 1235px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.frame10{
display: flex;
align-items: center;
padding: 48px 24px 48px 24px;
height: 120px;
width: 680px;
background:white;
margin:48px auto;
gap: 24px;
}
.frame-10 {
    display: flex;
    align-items: center;
    padding: 48px 24px 48px 24px;
    height: 120px;
    width: 680px;
    background:white;
    margin:48px auto;
    gap: 24px;



}

.frame5{
margin: 0px 0px auto 0px;
width: 140px;
height: 15px;

}
.why-web-dev{

position: absolute;
height: 1395px;
left: 148px;
right: 152px;
top: 857px;
bottom: 2993px;
/* Auto layout */
display: flex;
align-items: center;
padding: 40px 57px 40px 57px;
background: rgba(13, 19, 33, 0.02);
background-color: rgb(245, 242, 242);
width: 1120px;
border: 97px solid rgb(126, 150, 126);
margin: 20px auto; 
gap: 24px;
margin-top: 5%;

}
.section-title {
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
height: 39px;
width: 1100px;
}
.section-description{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
width: 1050px;
height: 52px;
}
/* why-web-dev-design */
.Layer {
    display: flex;
    justify-content:space-between;

}
.Layer-content{
max-width: 477px;
width: 423px;
height: 133px;
}
.Layer-content-0{
    max-width: 477px;
    width: 423px;
    height: 133px;
    text-combine-upright: 0px;
    margin-left: auto;
    margin: 10px auto 10px;
    padding:20px 54px 60px 213.50px;
}
.layer-heading{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
width: 390px;
height: 77px;

}
.layer-pra{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
width: 448px;
height: 52px;
}
.layer-btn{
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.layer-btn-text{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.layer-side-pic{
/* Group */
width: 259px;
height:200px;
}
.layer-side-pic-0{
/* Group */
/* Group */
position:absolute;
width: -223px;
height: -208px;
left: 20%;
top: 42%;

}
.Layer-0{
max-width: -477px;
width: -223px;
height: -133px;
padding: 20px 20px 20px;
}
.layer-heading-0{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align:left;
    width: 390px;
    height: 77px;  
    
    }
    .layer-pra-0{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    width: 448px;
    height: 52px;
    }
    .layer-btn-0{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    
    }
    .layer-btn-text-0{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
    }
.third{
height: 300px;
margin: 0 auto;
max-width: 1140px;
padding: 200px 50px ;
border: 2px solid red;
margin-top: 285%;
width:150%;

    }
.third-page{
height: 100px;
border: 2px solid red;
width: 50%;
margin: 0 auto;
text-align: center;
margin-top: -17.9%;
}
.iframe{
height: 485px;
width: 0 auto;
margin-top: 5%;
}
.target-papa{
    height: 300px;
    margin:    0 auto;
    border: 2px solid red;
    margin-top: 8%;
    width:60%;
    margin-bottom: 5%;
    text-align: center;
    
        }
.text-design{
text-align: center;
}
.target-content{
height: 200px;
border: 2px solid red;
width: 127%;
margin: 0 auto;
margin-top: -0.1%;
gap: 30px;
display: flex;
padding: 20px 20px 20px 20px;
}
.target-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.target-description{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.target-html{
padding: 0px;
/* border-radius: 16px solid black; */
background: rgba(255, 76, 30, 0.05);
width: 50%;
height: 200px;
border: 30px #FF4C1E0D;
}
.target-css{
padding: 0px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.target-js{
padding: 0px;
background: rgba(255, 223, 0, 0.05);

}

.i-need-support{
width: 131%;
height: 1000px;
margin: 0 auto;
border: 2px solid red;
display: flex;
margin-top: 5%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url("/assets/handshake.jpg");
background-position: center;
background-size: cover;
}
.support-content p {
    margin-bottom: 30px;
}
.support-content input {
width: 648px;
height: 37px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}
.support-content input {
    width: 648px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    }
#Submit-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    }