.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
  }
  
.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.hero .hero-content {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }
.hero .hero-content .title {
    color: rgb(0, 0, 0);
    font-size: 50px;
  }
  
.hero .hero-content .description {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 0 auto;
  }
  
  /* image design */
.hero .hero-content .group {
    position: absolute;
    width: 120.28px;
    height: 120px;
    left: 257.67%;
    right: -257.67%;
    top: 0%;
    bottom: 0%;
    transform: rotate(180deg);
  }
  
.frame-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
.btn {
    background: rgb(0, 0, 0);
    width: 239px;
    height: 58px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
.btn-text {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 00;
    text-align: center;
  }
  
.main {
    width: 1200px;
    margin: 40px auto;
    padding: 40px 30px;
    background-color: #f5f3f3;
    border-radius: 5px;
  }
.main .main_heading_content {
    text-align: center;
  }
.main .main_heading_content h2 {
    font-size: 38px;
    color: black;
    margin: 10px 0px;
  }
.main .main_heading_content p {
    font-size: 22px;
    color: #555963;
  }
.cards {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
.card {
    background-color: #fefefe;
    padding: 40px 30px;
    display: flex;
    justify-content: start;
    gap: 10px;
    border-radius: 10px;
  }
.card .card_content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
.card .card_content h4 {
    font-size: 24px;
    color: #555963;
  }
.card .card_content p {
    font-size: 22px;
    color: #6a6c70;
  }
.cards .card .img_box {
    display: flex;
    justify-content: center;
    width: 40%;
  }
.cards .card .img_box img {
    width: 300px;
  }
.card_btn {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 0px;
  }
.third{
/* height: 300px; */
margin: 0 auto;
max-width: 1140px;
padding: 20px 50px ;
width:150%;
}
/* .third-page{
height:70px;
width: 85%;
margin: 0 auto;
text-align: center;
margin-top: -17.9%;
border: 2px solid red;
} */
.third h3{
    font-size: 38px;
    color: black;
    margin: 10px 0px;
    text-align: center;
}
.third p{
    font-size: 24px;
    color: #555963;
    text-align: center;

}
.iframe{
height: 485px;
width: 0 auto;
margin-top: 5%;

}
.text-design{
text-align: center;
}
.target-papa{
margin: 0 auto;
/* max-width: 1140px; */
/* padding: 20px 50px ; */
width:1200px;
border: 2px solid red;
}
.target-content{
/* width: 127%; */
margin:  auto;
/* margin-top: -0.1%; */
gap: 30px;
display: flex;
padding: 30px 30px 30px 30px;
border: 2px solid red;

}
.target-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;

}

.target-description{
font-size: 24px;
color: #555963;
}
.target-html{
padding: 40px 40px 40px 40px ;
/* border-radius: 16px solid black; */
background: rgba(255, 76, 30, 0.05);
height: 200px;
border: 30px #FF4C1E0D;

}
.target-css{
padding: 40px 40px 40px 40px ;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);

}
.target-js{
padding: 40px 40px 40px 40px ;
background: rgba(255, 223, 0, 0.05);
}
#target-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    border:none;
}

.i-need-support{
border: 5px solid rgb(76, 0, 255);
display: flex;
margin-top: 5%;
display: flex;
background-image: url("../assets/handshake.jpg");
background-position: center;
background-size:cover;
width: 150%;
margin-left: -18%;

}
.support-content p {
    margin-bottom: 30px;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 6%;
}
.support-content h1{
    margin-bottom: 30px;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
   
}
.support-content input {
width: 648px;
height: 37px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
margin-left:10%;
}
#Submit-btn{
border-radius: 8px;
 background: rgb(255, 255, 255);
width: 150px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
margin-left: 8%;
margin-top: 8%;
 margin-bottom: 10%;       
    }
.footer{
    padding: 30px 30px;
}
.myfoot{
bottom: 0;
background-color: rgb(224, 217, 217);
height: 5%;
position:fixed;
width:100%;
left: 0;
}
.heading{
    font-size:30px;
    color: black;
    text-align: center;
}
.a{
    margin-left: 50%;
}